# Ignore compiled files
/backend/target/

# IDE files
/.idea/
*.iml

# Node modules
/frontend/node_modules/

# Logs
/logs/
/backend/logs/
/backend/*.log
/frontend/*.log

# Optional: ignore environment files
*.env
